/* ==========================================================================
   RESET / CONFIGURAÇÕES GERAIS
   ========================================================================== */

html {
    box-sizing: border-box;
}
*,
*::before,
*::after {
    box-sizing: inherit;

}

/* ==========================================================================
   PÁGINA (BODY)
   ========================================================================== */

body {
    margin: 0;
    background: #000;
    color: #fff;
    font-family:
        "Courier New",
        Courier,
        monospace;
    font-size: 18px;
    line-height: 1.7;
}

/* ==========================================================================
   CONTEÚDO PRINCIPAL
   ========================================================================== */

main {
    max-width: 900px;
    margin: 0 auto;
    padding: 2rem;
}

.content {
    flex: 1;
    padding: 2rem;
}

/* ==========================================================================
   LAYOUT
   ========================================================================== */

.layout {
    display: flex;
    min-height: 100vh;
}

/* ==========================================================================
   MENU LATERAL
   ========================================================================== */
.sidebar {
    width: fit-content;
    max-width: 300px;
    padding: 2rem 16px 2rem 2rem;
    flex-shrink: 0;
    border-right: 1px solid var(--gray-middle);
}

.sidebar ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.sidebar li {
    margin-bottom: 1rem;
}

.sidebar a {
    white-space: normal;
    word-break: normal;
    overflow-wrap: break-word;
}


/* ==========================================================================
   LINKS
   ========================================================================== */

a {
    color: #EDA8F7;
    text-decoration: none;
}

a:visited {
    color: #9400D3;
}

a:hover {
    text-decoration: underline;
}

a:active {
    color: #9400D3;

}

/* ==========================================================================
   IMAGENS
   ========================================================================== */

img {
    max-width: 100%;
    height: auto;
}

/* ==========================================================================
   DIVISORES
   ========================================================================== */

.section-divider {
    border: none;
    border-top: 1px dotted #666;
    opacity: .45;
    margin: 1.75rem 0;
}

/* ==========================================================================
   ELEMENTOS <details> E <summary>
   ========================================================================== */

details {
    margin-bottom: 1rem;
}

summary {
    cursor: pointer;
    user-select: none;

}

/* ==========================================================================
   PÁGINA "LINKS"
   ========================================================================== */

/* --------------------------------------------------------------------------
   Títulos das redes sociais
   Ex.: Instagram, Twitter/X, Last.fm, Filmow
   -------------------------------------------------------------------------- */

.network-title {
    color: #FFE4E1;
}

/* --------------------------------------------------------------------------
   Categorias das redes
   Ex.: pessoais, bots, educativos...
   -------------------------------------------------------------------------- */

.network-category {
    color: #CD5C5C;
}


/* --------------------------------------------------------------------------
   Cores para formatar textos
   -------------------------------------------------------------------------- */
:root {
--text-red: #D32F2F;
--green-hacker: #44d42a;
--gray-middle: #5b615a;
--royal-blue: #0d24b8;
--pastel-rose: #8d60a3;
--black: #000000; 
--purple-pastel: #ad80b1; 
}

/* --------------------------------------------------------------------------
   frase página inicial
   -------------------------------------------------------------------------- */
/* 
.home-quote {
    color: var(--purple-pastel);
    max-width: 50rem;
    margin: 4rem auto;
    padding: 0 2rem;
    text-align: center;
    font-size: 2rem;
    line-height: 1.8;
} */

.home-quote {

    display: block;
    color: var(--purple-pastel);
    max-width: 50rem;
    margin: 4rem auto;
    padding: 0 2rem;
    text-align: justify;
    font-size: 1rem;
    line-height: 1.35;
    text-wrap: pretty;
}
/* --------------------------------------------------------------------------
   Custom classes to format blog posts
 -------------------------------------------------------------------------- */
.text-justify {
    text-align: justify;
}

.paragraph-size-33 {
    margin-inline-start: 33%;
}

.text-align-last-right {
    text-align-last: right;
}
