<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{% block title %}Meu site{% endblock %}</title>

    <link rel="stylesheet" href="/assets/css/style.css">

    {% block extraCss %}{% endblock %}
</head>

<body>

    {% block body %}
        {{ content | safe }}
    {% endblock %}

</body>

</html>
