{% extends "base.njk" %}

{% block title %}
    {{ title }}
{% endblock %}

{% block extraCss %}
<link
    rel="stylesheet"
    href="/assets/css/blog.css">
{% endblock %}

{% block pageContent %}

<article class="blog-post">

    <h1>{{ title }}</h1>

    {{ content | safe }}

</article>

{% endblock %}
