---
layout: base.njk
---

{% block title %}
{{ title or "Blog" }}
{% endblock %}

{% block extraCss %}
<link rel="stylesheet" href="/assets/css/blog.css">
{% endblock %}

{% block body %}
<article class="blog-post">
    {{ content | safe }}
</article>
{% endblock %}
